body {
	background: url("../temp/road-trip1-01.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#questionPanel {
	float: right;
	width: 700px;
	/*height: 200px;*/
	color: black;
	margin: 20px;
	background-color: rgba(255, 255, 255, .7);
	box-shadow: 0 0 8px black;   
}

#mapIcon img {
	
	width: 95px;
	margin: 20px;

}

#hoverMap {
	position:absolute; 
	width: 125px; 
	height: 200px; 
	float: right;
	top: 0px; 
	z-index:1;


}

/*#mapIcon {
	position: absolute;
	right: 0px;
	bottom: 0px;
	opacity: 0.75;
	transition: opacity 0.33s;
}
#mapIcon:hover {
	opacity: 1;
}*/

/*.clearfix {
	clear: right;
	
}*/

#instructIcon img{
	height: auto;
	width: 55px;
	margin: 20px;
	cursor: pointer;

}
#instructIcon {
	position: absolute;
	bottom: 0%;
	left: 0px;
	margin: 20px;
}

.instructions {
	position: center;
	width: 600px;
	height: 600px;
	color: black;
	margin: 20px;
	background-color: rgba(255, 255, 255, .7);
	box-shadow: 0 0 8px black;  
	font-size:25px;
	border-radius: 15px;
	padding: 20px;
	font: bold;
	display: none;
}

.close {
	float: right;
	margin:0 0;
}
#USAMap {
	position: absolute;
	bottom: 0%;
	right: 0px;
	width: 700px;
	height: 400px;
	color: black;
	margin: 20px;
	background-color: rgba(255, 255, 255, .7); 
	box-shadow: 0 0 8px black;
}

/*#comment {
	position: absolute;
	bottom: 0%;
	left: 0px;
	width: 300px;
	height: 200px;
	color: black;
	margin: 20px;
	background-color: rgba(255, 255, 255, .7); 
	box-shadow: 0 0 8px black;   
}*/