body {
	background: url("../temp/road-trip1-01.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#upperRightPanel {
	float: right;
	width: 700px;
	color: black;
	margin: 20px;
	background-color: rgba(255, 255, 255, .7);
	box-shadow: 0 0 8px black;   
}
.questionPanel {
	display: none;
}
#btnContinue { 
	display: none;
    background-color: #ee3724;
    color: #fff;    
    border-color: #554031;
    font-size: 18px;
}

.correct-answer {
	color: #8f390a;
    background-color: #7bae36;
}
.incorrect-answer {
	color: #c5da33;
    background-color: #ef3623;
}
#messageDiv {
	/*background-color: red;	*/
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    /*color: #d4ebb1;*/
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 5px; 
}
#displayQuestion {
    background-color: #018bb7;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #d4ebb1;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 5px; 
}

#instructIcon {
	position: absolute;
	bottom: 0%;
	left: 0px;
	margin: 20px;
	height: auto;
	width: 55px;
	cursor: pointer;
}
.instructions {
	position: absolute;
	bottom: 0px;
	left: 80px;
	width: 600px;
	height: 600px;
	color: black;
	margin: 20px;
	background-color: rgba(255, 255, 255, .7);
	box-shadow: 0 0 8px black;  
	font-size:25px;
	border-radius: 15px;
	padding: 20px;
	display: none;
	z-index: 1;
}

.close {
	float: right;
	margin:0 0;
}
#USAMap {
	position: absolute;
	bottom: 0%;
	right: 0px;
	width: 700px;
	height: 400px;
	color: black;
	margin: 20px;
	background-color: rgba(255, 255, 255, .7); 
	box-shadow: 0 0 8px black;
}

/*#comment {
	position: absolute;
	bottom: 0%;
	left: 0px;
	width: 300px;
	height: 200px;
	color: black;
	margin: 20px;
	background-color: rgba(255, 255, 255, .7); 
	box-shadow: 0 0 8px black;   
}*/